.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
    padding: 40px; 
    margin-top: 3rem;
  }
  
  /* Box styling */
  .box {
    background-color: #1A1527; 
    border: 2px solid #3F3260;
    padding: 20px; 
    text-align: center; 
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    
  }
  

  .box:hover {
    border: 2px solid #808080;
    box-shadow: 0px 0px 10px 5px grey;
  }
  
  @media screen and (max-width: 700px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 23%;
        gap: 25px 9px;
        padding: 2%;
    }

    .box{
        font-size: 12px;
        padding: 10px;
    }
  }