.navBar{
    background-color: var(--background-clr);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
}


.nav_welcome{
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    cursor: pointer;
    flex: 1;
}

.nav_logo{
    height: 120px;
}

.nav_icons{
    display: none;
}

/* ============= Media Queries (Small Devices) ======================== */
@media screen and (max-width: 700px) {
    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
    }

    
    .nav_icons {
        display: block;
        cursor: pointer;
        font-size: 25px;
        padding: 0 25px;
    }

    .nav_logo{
        height: 80px;
    }

    .nav_welcome {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

}

