.navBarLink{
    display: flex;
    margin-right: 3.5rem;
}

.nav_list {
    display: flex;
    text-align: center;
    flex: 1;
}

.nav_list__links{
    margin-right: 1.5rem;
}

.nav_list__links ::after{
    content: '';
    width: 0;
    display: block;
    height: 3px;
    transition: all 0.5s ease;
    background: transparent;
}

.nav_list__links:hover ::after{
    width: 100%;
    background: var(--hover-text-clr);
}

/* ============= Media Queries (Small Devices) ======================== */
@media screen and (max-width: 700px) {
    .navBarLink {
        display: flex;
        margin-top: 0;
        justify-content: space-between;
        position: relative;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav_list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav_list__links {
        margin: 0.75rem 0;
        text-align: left;
    }
    
    .active {
        left: -37%;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        position: relative;
        transition: all 0.5s ease;
    }

}